<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Axis Bank Products</title>
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #97144D !important;">
        <div class="container-fluid">
            <img src="axislogo1.png" alt="Axis Bank" height="60" class="my-2">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <div class="container-fluid justify-content-center"></div> -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ExploreP.html">Explore Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Grab Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Make Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bank Smart</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </form>
            </div>
        </div>
    </nav>

    <div class="card mt-4 border-0"></div>
    <div class="card mt-4 border-0"></div>

    <style>
        .breadcrumb .breadcrumb-item a {
            color: #97144D;
            text-decoration: none;
        }

        .breadcrumb .breadcrumb-item a:hover {
            text-decoration: underline;
        }

        .breadcrumb .breadcrumb-item {
            color: #97144D;
        }
    </style>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="ExploreP.html">Explore Products</a></li>
            <li class="breadcrumb-item"><a href="cards.html">Cards</a></li>
            <li class="breadcrumb-item"><a href="Debitcard.html"> Debit Cards</a></li>

        </ol>
    </nav>

    <img src="dc.png" class="img-fluid mt-4" alt="...">
<!-- Cards -->
<div class="card mt-4 border-0">
        <div class="card-body" style="margin-left: 0.5in;">
            <h3>
                <span style="color: #97144D; font-style: italic;">Axis Bank</span> Dedit Card
            </h3><br>
            <p style="inline-size: height 2;">
            
                <span style="color: #97144D; font-style: italic;"><b>AXIS GO</b></span> A Debit Card also functions as an ATM card, allowing you to withdraw money from any bank's ATM. It can also be used for making payments by swiping at a merchant’s point-of-sales machine and for online transactions.<br>

 When swiping your Debit Card, you need to key in the PIN. Similarly, when using it for online transactions, you need to key in the OTP that is delivered to your mobile number registered with the bank. This ensures your Debit Card is secure and safe to use.<br>

 All International card transactions are not OTP based. The Reserve Bank of India (RBI) has enforced OTP authentication only for domestic transactions, and International transactions do not come under this purview.<br>

Make sure your linked Savings Account has sufficient funds, and then use your Debit Card freely to meet all your needs. Set daily and monthly transaction limits on your Debit Card as per your needs. There is no charge or fee for spending money using your Debit Card.<br>
            </p>


        </div>
    </div>




    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>