<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Axis Bank Products</title>
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #97144D !important;">
        <div class="container-fluid">
            <img src="axislogo1.png" alt="Axis Bank" height="60" class="my-2">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <div class="container-fluid justify-content-center"></div> -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ExploreP.html">Explore Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Grab Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Make Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bank Smart</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </form>
            </div>
        </div>
    </nav>

    <div class="card mt-4 border-0"></div>
    <div class="card mt-4 border-0"></div>
<style>
    .breadcrumb .breadcrumb-item a {
      color: #97144D;
      text-decoration: none;
    }

    .breadcrumb .breadcrumb-item a:hover {
      text-decoration: underline;
    }

    .breadcrumb .breadcrumb-item {
      color: #97144D;
    }
  </style>  
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item"><a href="accounts.html">Accounts</a></li>
    <li class="breadcrumb-item"><a href="salary.html">Salary Account</a></li>
   
   
  </ol>
</nav>

    <img src="ss2.png" class="img-fluid mt-4" alt="...">
    <div class="card mt-4 border-0">
        <div class="card-body" style="margin-left: 0.5in;">
            <h3>
                <span style="color: #97144D; font-style: italic;">Axis Bank</span> SUVIDHA Salary Program
            </h3><br>
            <p>
                <span style="color: #97144D; font-style: italic;"><b></b></span>
                A Salary Account is a Savings Account where your employer deposits your monthly pay. It is designed for
                receiving salary transfers, and usually offers benefits such as no minimum balance requirement, free ATM
                withdrawals, higher daily withdrawal limits, preferential rates on loans, complimentary Credit Card, and
                so on. The SUVIDHA Salary Program is designed to cater to your needs with a selection of tailored
                features and benefits. It offers a wide array of products and services not only for employees but also
                for employers, setting it apart as a top-tier offering.
            </p><br>

            <p>SUVIDHA Salary Program, comes with different types of salary accounts and they often come with
                complimentary credit card, various insurance plans, preferential rates on loan products, zero balance
                account, varies in daily withdrawal limit, shopping limit, kind of debit card and so on. Benefits
                ranging
                from Senior ID cards for senior citizens. domestic travel plans and higher interests to dining delights,
                cashback on movie tickets, etc. are provided to different salary accounts. You can now open your account
                digitally within 3 minutes without having to visit a branch. Switch to SUVIDHA Salary Program. </p>


        </div>
    </div>








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>